body {
    background-color:beige;
}

.warning {
    color:red;
    font-weight:bold;
}

#form {
    background-color:#03f8fc;
    width:450px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin: 0 auto;
}

h2 {
  text-decoration-line: underline solid black 1px;
}
