.warning {
    color:red;
    font-weight:bold;
}

#form {
    background-color:#03f8fc;
    text-align:center;
    width:450px;
    border-width:2px;
    border-style:solid;
    border-color:black;


    
}
