body {
    font-family: Arial, sans-serif;
    background-color: #9fbefc;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    margin: 20px 0;
}

#gameImage {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 18px;
}

#replayButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
